{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{- .Title | markdownify }}</h1>
    </header>
</article>
{{- end}}

<hr/>

<div class="heading">
	<p>PROFILE</p>
</div>

<article class="bio">
<section class="entry-content">
        <p>{{- $.Site.Params.homeInfoParams.Content | markdownify }}</p>
</section>
</article>

<hr/>


<div class="heading">
	<p>RECENT WORK</p>
	<p>""</p>
</div>

<hr/>


<footer class="entry-footer">
	{{- partial "social_icons.html" $.Site.Params.socialIcons -}}
</footer>


