
.main {
    position: relative;
    min-height: calc(10vh - var(--header-height) - var(--footer-height));
    margin: auto;
    text-align: center;
}

.line {
    float: left;
    max-width: 97%;
    height: 1px;
    background-color: var(--primary);
    border: none;
    margin: auto var(--gap);
}

.page-header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px
}

.pagination {
    display: flex
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px
}

.pagination .next {
    margin-inline-start: auto
}

.social-icons {
    padding: 12px 0
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px
}

.social-icons a svg {
    height: 26px;
    width: 26px
}

.container {
  display: table;
  width: 100%;
  min-height: calc(30vh);
}

.left-half {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 10%;
}

.right-half {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: left;
    left: 0px;
    width: 10%;
    font-size: 17px;
    font-weight: 320;
}



code {
    direction: ltr
}
